.fcr-polling-result-item {
  @apply fcr-border-1 fcr-rounded-12;
  background-color: rgba(67, 67, 78, 0.5);
  height: 60px;
  position: relative;
  margin-bottom: 20px;
  border-width: 1px;
  overflow: hidden;
}

.fcr-polling-result-progress {
  background-color: #4c5462;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.fcr-polling-result-progress-select {
  /* @apply fcr-bg-brand */
  background-color: #4262FF;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.fcr-polling-result-progress-text {
  @apply fcr-text-1 fcr-font-regular;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  display: flex;
  gap: 12px;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.fcr-polling-result-person-count {
  @apply fcr-text-2 fcr-font-regular;
  font-size: 12px;
}

.fcr-polling-result-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
