.fcr-rtt-widget-container {
  @apply fcr-rounded-8;
  /* overflow-y: auto; */
  width: auto;
  max-width: 750px;
  min-width: 400px;
  min-height: 50px;
  display: flex;
  position: relative;
  border-width: 2px;
  border-style: solid;
}
.fcr-rtt-widget-text {
  @apply fcr-text-1;
  background-color: unset !important;
  display: flex;
  gap: 11px;
}
.fcr-rtt-widget-text > div:first-child {
  @apply fcr-rounded-full;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-rtt-widget-name {
  @apply fcr-text-1;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400 !important;
}
.fcr-rtt-widget-actions {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 3px;
  right: 12px;
}
.fcr-rtt-widget-actions .fcr-popover-trigger-opened {
  @apply fcr-rounded-8;
}
.fcr-rtt-widget-action {
  @apply fcr-rounded-8 hover:fcr-bg-3;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fcr-popover-trigger-opened .fcr-rtt-widget-action {
  @apply hover:fcr-bg-brand;
}
.fcr-rtt-widget-close {
  @apply hover:fcr-bg-red-6;
}
.fcr-rtt-widget-translate {
  @apply fcr-text-yellow;
}
.fcr-rtt-widget-translate,
.fcr-rtt-widget-transcribe {
  /* line-height: 18px; */
  font-size: 14px;
  font-weight: 500 !important;
  color: white;
  margin-top: 2px;
  font-weight: 500;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}
.fcr-rtt-widget-transcribe {
  margin-bottom: 6px;
  margin-top: 2px;
}
.fcr-rtt-widget-settings-title {
  @apply fcr-text-2;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.fcr-rtt-widget-settings-container .fcr-checkbox {
  padding: 8px 11px 15px;
}
.fcr-rtt-widget-settings-select {
  @apply fcr-border-1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 4px;
}
.fcr-rtt-widget-settings-select-label {
  @apply fcr-text-2;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-top: 15px;
  padding-bottom: 12px;
}
.fcr-rtt-widget-settings-select-item,.fcr-rtt-widget-language-option {
  @apply hover:fcr-bg-brand fcr-text-1;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fcr-rtt-widget-settings-select-item-selected {
  @apply fcr-text-brand hover:fcr-text-1;
}
.fcr-rtt-widget-settings-select-item,
.fcr-rtt-widget-settings-select-label {
  padding-left: 15px;
  padding-right: 15px;
  user-select: none;
}
.fcr-rtt-widget-settings-font-size-box{
  margin-top: 20px;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
 
}
.fcr-rtt-widget-settings-font-size-box-title{
  border-top: 1px solid rgba(74, 76, 95, 0.5);
}
.fcr-rtt-widget-settings-font-size-slide{
  width: 149px;
  height: 5px;
}
.fcr-rtt-widget-settings-button{
  @apply hover:fcr-bg-brand fcr-text-1;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(74, 76, 95, 0.5);
}
.fcr-limited-box{
  position: unset !important;
  top: 0 !important;
  left: 0;
  min-width: 750px;
  padding: 6px 15px 6px 6px !important;
  background-color: rgba(66, 98, 255, 0.6) !important;
  border-radius: 8px;
  color: #fff;
  font-size: 13px !important;
  margin-bottom: 4px;
}
.fcr-limited-box-title{
  display: inline-block;
  background: linear-gradient(90deg, rgba(66, 98, 255, 1), rgba(102, 31, 218, 1));
  padding-left: 10px;
  padding-right: 10px;
  height: 21px;
  line-height: 21px;
  margin-right: 15px;
  border-radius: 3px;
}
.fcr-rtt-widget-language-modal{
  /* @apply fcr-rounded-8; */
  position: absolute;
  top: -20px;
  right: -250px;
}
.fcr-tooltip-inner{
  overflow: visible !important;
  width: auto !important;
  /* scrollbar-width: none; */
}
.fcr-flex-center{
  font-size: 13px;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 50px;
  color: white;
  font-weight: 700;
}
.fcr-rtt-subtitle-content {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  border-width: 0.5px;
  min-width: 750px;
  border-width: 2px;
  border-style: solid;
  position: relative;
  margin-bottom: 15px;
}
.fcr-rtt-box{
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  
}
.fcr-rtt-box:hover{
  /* @apply fcr-bg-4 fcr-rounded-8; */
}





/* RttSettings.css */
.settings-container {
  padding: 10px;
  background: #333;
  color: #fff;
  border-radius: 8px;
  width: 185px;
  height: auto;
}

.settings-section {
  margin-bottom: 15px;
}

.settings-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7) !important;
  padding-left: 9px;
  padding-right: 9px;
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 13px;
  font-weight: 400;
  color: white !important;
}
.settings-option-textSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 13px;
  font-weight: 400;
  color: white !important;
}
.settings-option:hover {
  border-radius: 5px;
  background-color:#4262FF;
}

.restore-button, .real-time-button {
  display: block;
  width: 100%;
  line-height: 32px;
  margin-top: 10px;
  /* background: #444; */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
}
.restore-button:hover, .real-time-button:hover{
  background-color:#4262FF;
  ;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-value {
  font-size: 12px;
  padding: 10px;
  /* background: #444; */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.select-options {
  position: absolute;
  top: -100%;
  left: 140%;
  width: 185px;
  background: #555;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 10;
  border-radius: 10px;
  overflow: hidden;
}

.select-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:space-between;

}

.select-option:hover, .select-option.selected {
  /* background: #666; */
}

.settings-option span {
  flex-grow: 1;
  white-space: nowrap;
  font-size: 13px;
}

.settings-option input[type="checkbox"] {
  margin-left: 10px;
}
.settings-option-textSize input[type="range"] {
  flex-grow: 1;
  margin-left: 0px !important;
  width: unset !important;
  height: 5px;
  border-radius: 5px;
  outline: none;
}

.ant-modal-content{
  border-radius: 16px !important;
  overflow: hidden;
}
.ant-modal-header{
  border-bottom: none;
}
.ant-modal-body{
  padding: 16px;
}
.ant-modal-footer{
  border-top: none;
}
.ant-modal-footer button{
  border-radius: 20px;
}

/* 历史记录样式 */
.search-container{
  padding: 15px;
}



.ant-popover-placement-top{
  width: 185px;
  z-index: 2001;
}