.fcr-chatroom-mobile-messages {
  overflow-y: auto;
  position: relative;
  /* transition: height 0.2s; */
  flex: 1;
  padding: 0 16.5px 0 16.5px;
  border-radius: 20px 20px 0 0;
}

.fcr-chatroom-mobile-message-placeholder {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.fcr-chatroom-mobile-messages-has-new-container {
  position: relative;
}

.fcr-chatroom-mobile-messages-has-new-container::before {
  content: '';
  width: 100vw;
  height: 36px;
  /* background: linear-gradient(0deg, #282a32 32.95%, rgba(40, 42, 50, 0) 100%); */
  position: absolute;
  left: -20px;
  bottom: 0;
  z-index: 0;
}

.fcr-chatroom-mobile-messages-has-new {
  height: 28px;
  line-height: 28px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #f5655c;
  padding: 0 12px;
  border-radius: 14px;
  background: #fff;
  position: relative;
  top: 2px;
}

.fcr-chatroom-mobile-messages-wrap {
  padding: 10px 0;
}

.fcr-chatroom-mobile-messages-wrap.fcr-chatroom-mobile-messages-wrap-isLandscape {
  padding: 10px 20px 0;
  width: 100%;
}

.fcr-chatroom-mobile-message-item-wrapped {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 8px;
}


.fcr-chatroom-mobile-message-item-wrapped .fcr-chatroom-mobile-message-item {
  /* border-radius: 12px; */
  font-weight: 500;
  font-size: 13px;
  word-break: break-all;
  margin-bottom: 8px;
  width: fit-content;
  /* padding: 0 3px; */
  color: rgba(255, 255, 255, 1);

  line-height: 18px;
  overflow: hidden;
}

.fcr-chatroom-mobile-message-item-wrapped .fcr-chatroom-mobile-message-item .fcr-avatar {
  margin-right: 13px;
}


.fcr-chatroom-mobile-message-item-wrapped :not(.fcr-chatroom-mobile-message-item-self){
  /* margin-left: 49px; */
}
.fcr-chatroom-mobile-message-item:last-child {
  margin-bottom: 0;
}

.fcr-chatroom-mobile-message-item-img {
  /* padding: 10px 10px; */
  display: flex;
  flex-direction: column;
}

.fcr-chatroom-mobile-message-item-img>img {
  float: right;
  width: 140px;
  max-height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.fcr-chatroom-mobile-message-item-student {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.fcr-chatroom-mobile-message-item-student .fcr-chatroom-mobile-message-item-student-text {
  /* backdrop-filter: blur(25px); */
  width: 184px;
  height: 30px;
  color: var(--inverse-text-primary, #FEFEFE);
  background: var(--ui-04, #505759);
  padding: 7px 16px;
  border-radius: 50px;

  text-align: center;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-weight: 300;
  line-height: 15.6px;
}

.fcr-chatroom-mobile-message-item-wrapped.fcr-chatroom-mobile-message-item-self-wrapped {
  justify-content: flex-end;
}

.fcr-chatroom-mobile-message-item-wrapped .fcr-chatroom-mobile-message-item-list {
  display: flex;
}

.fcr-chatroom-mobile-message-item-wrapped .fcr-chatroom-mobile-message-item-list .fcr-chatroom-mobile-message-content,
.fcr-chatroom-mobile-message-item.fcr-chatroom-mobile-message-item-student .fcr-chatroom-mobile-message-content {
  padding: 16px;
  background: var(--ui-04, #505759);
  border-radius: 0 12px 12px 12px;
  width: fit-content;
}

.fcr-chatroom-mobile-message-item-self .fcr-chatroom-mobile-message-item-list .fcr-chatroom-mobile-message-content {
  margin-left: auto;
  background: var(--color-monochrome-20, #E0E0E0);
  color: var(--text-primary, #151515);
  border-radius: 12px 0 12px 12px;
  width: fit-content;
}

.fcr-chatroom-mobile-message-item-name-content .fcr-chatroom-mobile-message-content-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.fcr-chatroom-mobile-message-item-self .fcr-chatroom-mobile-message-item-name-content .fcr-chatroom-mobile-message-content-image {
  margin-left: auto;
}

.fcr-chatroom-mobile-message-item.fcr-chatroom-mobile-message-item-isHidden{
  margin-left: 49px;
}

.fcr-chatroom-mobile-message-item-name {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 9px;

  font-family: Verdana;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  text-align: left;
  color: var(--inverse-text-primary, #FEFEFE);
}


.fcr-chatroom-mobile-message-item-name svg {
  display: inline-block;
}

.fcr-chatroom-mobile-message-item-host {
  position: relative;
  display: inline-block;
  background: rgba(0, 86, 253, 1);
  border-radius: 12px;
  margin-right: 4px;
  line-height: 18px;
  width: 30px;
  height: 18px;
  vertical-align: bottom;
}

.fcr-chatroom-mobile-message-item-host.active {
  background: rgba(255, 255, 255, 0.9);
}

.fcr-chatroom-mobile-message-item-private {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFC700;
  border-radius: 12px;
  margin-right: 4px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  top: -2px;
}

.fcr-chatroom-mobile-message-item-host>svg {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fcr-chatroom-mobile-message-announcement {
  background: var(--ui-04, #505759);
  /* position: relative; */

  display: flex;

  width: 326px;
  max-height: 70px;
  border-radius: var(--fcrcornerradiusl);
  white-space: pre-wrap;
  padding: 0 13px 0 0;
  overflow: hidden;
}

.fcr-chatroom-mobile-message-item-announcement-label {
  width: 30.69px;
  height: 30px;

  /* position: absolute;
  top: 10px;
  left: 8.18px; */

  border-radius: 8px;
  background: var(--interactive-action, #FFBB1C);
  margin-right: 9.13px;
  margin: 10px 9.13px 10px 8.18px;
}

.fcr-chatroom-mobile-message-item-notice-content {
  /* display: inline-flex;
  align-items: center; */
  /* overflow: auto; */
  margin: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;


  font-family: Helvetica Neue;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.9px;
  text-align: left;
}

/** landscape **/
.fcr-chatroom-mobile-messages-landscape {
  height: 179px;
  /* width: 296px; */
  width: 100%;
  overflow-y: auto;
  pointer-events: all;
}

.fcr-chatroom-mobile-messages-landscape::-webkit-scrollbar {
  display: none;
}

.fcr-chatroom-mobile-messages-has-new-container-landscape {
  position: fixed;
  bottom: 58px;
  background: transparent;
}

.fcr-chatroom-mobile-messages-has-new-container-landscape .fcr-chatroom-mobile-messages-has-new {
  position: relative;
  pointer-events: all;
  margin-left: 20px;
}

.fcr-chat-private-tag .fcr-text-send-to {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: right;
  margin: 0 4px;
  color: var(--inverse-text-tertiary, #F5F5F5);
}


.fcr-chatroom-mobile-message-item.fcr-chatroom-mobile-message-item-self .fcr-chatroom-mobile-message-content {
  padding: 16px;
  background: var(--ui-04, #505759);
  border-radius: 0 12px 12px 12px;
}

.fcr-chatroom-mobile-message-item.fcr-chatroom-mobile-message-item-self .fcr-chatroom-mobile-message-content {
  background: var(--color-monochrome-20, #E0E0E0);
  color: var(--text-primary, #151515);
  border-radius: 12px 0 12px 12px;
}

.fcr-text-yellow {
  color: #D4A80A;
  font-family: Verdana;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
}