.fcr-chatroom-dialog-wrap {
  pointer-events: none;
}
.fcr-chatroom-dialog-wrap .fcr-dialog {
  position: absolute;
  right: 20px;
  bottom: 80px;
  height: 70%;
  pointer-events: all;
}
.fcr-chatroom-dialog-wrap .fcr-dialog-close {
  right: 12px;
  top: 12px;
}
.fcr-chatroom-dialog-wrap .fcr-dialog-content {
  @apply fcr-shadow-line-1-.5;
  height: 100%;
  overflow: hidden;
}
.fcr-chatroom-dialog-wrap .fcr-dialog-body {
  padding: 0;
  height: 100%;
}
.fcr-chatroom-dialog-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fcr-chatroom-dialog-title {
  @apply fcr-bg-4;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}
.fcr-chatroom-dialog-tab-inner {
  flex: 1;
  overflow: hidden;
}

.fcr-chatroom-avatar {
  @apply fcr-text-white fcr-font-medium fcr-rounded-full fcr-bg-brand-6;
  width: 32px;
  height: 32px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}
.fcr-chatroom-tooltip-content {
  display: flex;
  gap: 13px;
  padding-right: 15px;
}
.fcr-chatroom-tooltip-content-text {
  @apply fcr-text-1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
