/* .fcr-rtt-widget-container {
  @apply fcr-rounded-8;
  resize: both;
  overflow: auto;
  min-width: 320px;
  max-width: 600px;
  min-height: 400px;
  max-height: 800px;
  position: fixed;
  right: 20px; 
} */
.fcr-rtt-box-widget-container{
  @apply fcr-rounded-8;
  resize: both;
  overflow: auto;
  min-width: 320px;
  max-width: 600px;
  min-height: 400px;
  max-height: 800px;
  position: fixed;
  right: 20px; 
}
.fcr-rtt-widget-text {
  @apply fcr-text-1;

  display: flex;
  gap: 11px;
}
.fcr-rtt-widget-text > div:first-child {
  @apply fcr-rounded-full;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-rtt-widget-name {
  @apply fcr-text-1;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
}
.fcr-rtt-widget-actions {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 3px;
  right: 12px;
}
.fcr-rtt-widget-actions .fcr-popover-trigger-opened {
  @apply fcr-rounded-8;
}
.fcr-rtt-widget-action {
  @apply fcr-rounded-8 hover:fcr-bg-3;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fcr-popover-trigger-opened .fcr-rtt-widget-action {
  @apply hover:fcr-bg-brand;
}
.fcr-rtt-widget-close {
  @apply hover:fcr-bg-red-6;
}
.fcr-rtt-widget-translate {
  color: #fff;
}
.fcr-rtt-widget-translate,
.fcr-rtt-widget-transcribe {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}
.fcr-rtt-widget-transcribe {
  margin-bottom: 6px;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.7);
}
.fcr-rtt-widget-settings-title {
  @apply fcr-text-2;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.fcr-rtt-widget-settings-container .fcr-checkbox {
  padding: 8px 11px 15px;
}
.fcr-rtt-widget-settings-select {
  @apply fcr-border-1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 4px;
}
.fcr-rtt-widget-settings-select-label {
  @apply fcr-text-2;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding-top: 15px;
  padding-bottom: 12px;
}
.fcr-rtt-widget-settings-select-item,.fcr-rtt-widget-language-option {
  @apply hover:fcr-bg-brand fcr-text-1;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fcr-rtt-widget-settings-select-item-selected {
  @apply fcr-text-brand hover:fcr-text-1;
}
.fcr-rtt-widget-settings-select-item,
.fcr-rtt-widget-settings-select-label {
  padding-left: 15px;
  padding-right: 15px;
  user-select: none;
}
.fcr-rtt-widget-settings-font-size-box{
  margin-top: 20px;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
 
}
.fcr-rtt-widget-settings-font-size-box-title{
  border-top: 1px solid rgba(74, 76, 95, 0.5);
}
.fcr-rtt-widget-settings-font-size-slide{
  width: 149px;
  height: 5px;
}
.fcr-rtt-widget-settings-button{
  @apply hover:fcr-bg-brand fcr-text-1;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(74, 76, 95, 0.5);
}
.fcr-limited-box{
  position: absolute;
  top: -50px;
  left: 0;
  /* margin-top: -50px; */
  /* width: 100%+30px; */
  min-width: 400px;
  max-width: 750px;
  padding: 8px 20px;
  /* height: 33px;
  line-height: 33px; */
  background-color: rgba(66, 98, 255, 0.6);
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
}
.fcr-limited-box-title{
  display: inline-block;
  background: linear-gradient(90deg, rgba(66, 98, 255, 1), rgba(102, 31, 218, 1));
  padding-left: 10px;
  padding-right: 10px;
  height: 21px;
  line-height: 21px;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.fcr-limited-box-timeline{
  overflow: hidden;
}

.fcr-rtt-widget-language-modal{
  /* @apply fcr-rounded-8; */
  position: absolute;
  top: -20px;
  right: -250px;
}
.fcr-tooltip-inner{
  overflow: visible !important;
  /* scrollbar-width: none; */
}
.fcr-flex-center{
  font-size: 14px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.fcr-rtt-box{
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  
}
.fcr-rtt-box:hover{
  /* @apply fcr-bg-4 fcr-rounded-8; */
}
.highlighted{
  background-color: rgba(66, 98, 255, 0.4);
  padding: 2px;
}
.highlighted-current{
  background-color: #4262FF;
  padding: 2px;
}
.open-language{
  background-color: #43434E;
  margin: 0 auto;
  padding: 7px 16px;
  border-radius: 20px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  margin-bottom: 30px;
}



/* RttSettings.css */


.settings-section {
  margin-bottom: 15px;
}

.settings-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 175);
  padding-left: 9px;
  padding-right: 9px;
}

.restore-button, .real-time-button {
  display: block;
  width: 100%;
  line-height: 32px;
  margin-top: 10px;
  /* background: #444; */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  padding-left: 9px;
  padding-right: 9px;
}
.restore-button:hover, .real-time-button:hover{
  background-color:#4262FF;
  ;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-value {
  font-size: 12px;
  padding: 10px;
  /* background: #444; */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .select-options {
  position: absolute;
  top: -100%;
  left: 120%;
  width: 70%;
  background: #555;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 10;
  border-radius: 10px;
  overflow: hidden;
} */

.select-option {
  padding: 10px;
  cursor: pointer;
}

.select-option:hover, .select-option.selected {
  /* background: #666; */
}

/* 历史记录样式 */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px;
  flex-grow: 1;
}

.search-box span {
  margin-left: 10px;
  color: #888;
}

.rtt-list {
  padding: 10px;
  padding-bottom: 30px;
  overflow-y: auto;
  /* max-height: calc(100vh - 300px); Adjust based on the desired maximum height */
  max-height: 400px;
}

.fcr-rtt-widget-text {
  display: flex;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  padding: 0 6px !important;
}

.fcr-rtt-subtitle-widget-text {
  display: flex;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  padding: 14px 20px 0 !important;
}
.fcr-rtt-subtitle-widget-text > div:first-child {
  @apply fcr-rounded-full;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcr-rtt-widget-name {
  font-weight: bold;
}

.footer {
  @apply fcr-bg-4;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  justify-content: space-between; /* 两端对齐 */
}

.stop-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.settings-button {
  color: white;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: white;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}
.settings-button-arrow-down {
  display: inline-block;
  width: 0; 
  height: 0; 
  vertical-align: middle;
  transform: translateY(-2px);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
  border-radius: 8px;
}
.stop-button{
  flex-grow: 7;
  margin-right: 10px;
}
.stop-button:hover, .settings-button:hover {
  background-color: #0056b3;
}

.fcr-chatroom-dialog-title-text{
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  padding-left: 9px
}
.fcr-rtt-list-search{
  @apply fcr-bg-4;

}

.fcr-input-icon-clear{
  margin-top: 2px;
  margin-right: 5px;
width: 16px;
height: 16px; 
border-radius: 50%;
 justify-content: center;
 align-items: center
}
.fcr-input-icon-clear:hover{
  background-color: #4C5462
}
.fcr-rttbox-list-search{
  @apply fcr-bg-4;
  position: relative;
  padding-bottom:5px
}
.fcr-limited-time-experience{
  background-color: rgba(66, 98, 255, 0.6);
  font-size: 13px;
  color: #ffffff;
  padding: 5px 15px;
  line-height: 20px;
}
.ant-notification-notice-btn{
  margin-top: 0 !important;
}
.ant-notification-notice-close {
  color: #ffffff !important; 
}
.fcrr-drop-arrow-button-box{
  margin-left: 5px;
  border-radius: 6px;
  overflow: hidden;
  height: 36px;
}
.fcr-drop-arrow{
  overflow: hidden;
  width: 24px;
  height: 18px;
  cursor: pointer;
}
.fcr-drop-arrow:hover{
  background-color: #4262FF;
}