.netless-whiteboard-wrapper {
  @apply fcr-bg-foreground fcr-border-divider fcr-border;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.board-widget-app {
  height: 100%;
}

.whiteboard-zoom-status {
  border-radius: 50%;
  box-shadow: 0 0 3px #cecece;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 34px;
  height: 34px;
  z-index: 2;
  cursor: pointer;
  background-color: #fff;
}
.whiteboard-mobile-container {
  transition: all 0.3s ease;
}
.spinner-container {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
}

.spinner-container .spinner-contianer-innner {
  display: inline-block;
  padding: 7px 10px;
  background: white;
  box-shadow: 0 0 3px #cecece;
  border-radius: 4px;
  color: #191919;
}
.spinner-container .spinner-contianer-innner .spinner {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: #333;
  display: inline-block;
  vertical-align: -3px;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

.one-on-one-class-room .window-manager-collector {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mid-class-room .window-manager-collector {
  position: absolute;
  right: 98px;
  bottom: 0;
}

.big-class-room .window-manager-collector {
  position: absolute;
  right: 50px;
  bottom: 0;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
