.fcr-chatroom-mobile-inputs {
  padding: 8px 16px 10px 16px;
}

.fcr-application-panel-wrapped {
  flex: 1;
  display: flex;
  gap: 10px;
}

.fcr-application-panel-wrapped>.fcr-application-panel-item {
  position: relative;
  flex:1;
  text-align: center;
}

.fcr-application-panel-wrapped>.fcr-application-panel-item>svg {
  margin: auto; 
}

.fcr-application-panel-wrapped>.fcr-application-panel-item>span {
  color: #FEFEFE;
  font-size: 10px;
}

.fcr-chatroom-mobile-inputs-private {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.fcr-chatroom-mobile-inputs-private-label {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-right: 3px;
}

.fcr-chatroom-mobile-inputs-private-select {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.fcr-chatroom-mobile-inputs-private-select-val {
  color: #4262FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fcr-chatroom-mobile-inputs-private-icon {
  display: flex;
  align-items: center;
  padding: 0px 4px;
  height: 18px;
  border-radius: 4px;
  background: #FFC700;
  width: fit-content;
}

.fcr-chatroom-mobile-inputs-private-icon-svg {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcr-chatroom-mobile-inputs-private-icon-val {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.fcr-chatroom-mobile-inputs-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fcr-chatroom-mobile-inputs:not(.fcr-chatroom-mobile-inputs-landscape) {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
}

.fcr-chatroom-mobile-room-info-emoji-open .fcr-chatroom-mobile-inputs:not(.fcr-chatroom-mobile-inputs-landscape) {
  position: absolute;
}

.fcr-chatroom-mobile-inputs-input {
  position: relative;
  flex: 1;
}

.fcr-chatroom-mobile-inputs-input-emoji {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.fcr-chatroom-mobile-inputs-image {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.fcr-chatroom-mobile-inputs-input input {
  width: 100%;
  background: rgba(61, 64, 75, 0.9);
  border: 1px solid #4a4c5f;
  border-radius: 50px;
  height: 40px;
  padding: 4px 65px 4px 12px;
  font-size: 14px;
  color: #fff;
  position: relative;
}

.fcr-chatroom-mobile-inputs-input input::placeholder {
  color: rgba(187, 187, 187, 1);
}

.fcr-chatroom-mobile-inputs-input input:focus {
  outline: none;
  /* outline: 3px solid rgba(66, 98, 255, 0.5); */
  border: 1px solid rgba(66, 98, 255, 1);
}

.fcr-chatroom-mobile-inputs-hide-message,
.fcr-chatroom-mobile-inputs-call {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(91, 89, 152, 0.20);
  /* border: 1px solid rgba(74, 76, 95, 0.50); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.fcr-chatroom-mobile-inputs-call.landscape {
  width: 40px;
  height: 40px;
}

.fcr-chatroom-mobile-inputs-call {
  background: rgba(59, 62, 72, 1);
  position: relative;
}

.fcr-chatroom-mobile-inputs-call-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background: rgba(66, 98, 255, 0.6);
  gap: 4px;
}

.fcr-chatroom-mobile-inputs-call-loading .dot {
  width: 4px;
  height: 4px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  animation: dotAnimation 1s infinite ease-in-out;
}

.fcr-chatroom-mobile-inputs-call-loading .dot:nth-child(2) {
  animation-delay: 0.1s;
}

.fcr-chatroom-mobile-inputs-call-loading .dot:nth-child(3) {
  animation-delay: 0.2s;
}

.fcr-chatroom-mobile-inputs-raise-hand {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(249, 249, 252, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(91, 89, 152, 0.20);
  position: relative;
  margin-left: 8px;
}

.fcr-chatroom-mobile-inputs-raise-hand.landscape {
  width: 40px;
  height: 40px;
  margin-left: 0;
}

.fcr-chatroom-mobile-inputs-raise-hand.chat {
  margin-left: 15px;
}

.fcr-chatroom-mobile-inputs-raise-hand-active {
  background: rgba(66, 98, 255, 1);
}

@keyframes dotAnimation {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.fcr-chatroom-mobile-input-emoji-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 28px);
  grid-template-rows: repeat(auto-fill, 28px);
  grid-gap: 20px;
  height: 140px;
  background: #000;
  overflow-y: auto;
  position: relative;
  top: -135px;
  padding: 10px;
}

.fcr-chatroom-mobile-input-emoji-container.fcr-chatroom-mobile-input-emoji-container-landscape {
  padding: 10px 100px;
  top: 0;
  height: 200px;
}

.fcr-chatroom-mobile-input-emoji-container.fcr-chatroom-mobile-input-emoji-container-landscape>div {
  width: 32px;
  height: 32px;
  font-size: 32px;
  text-align: center;
  line-height: 32px;
}

.fcr-chatroom-mobile-input-emoji-container>div {
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.fcr-chatroom-mobile-inputs-send {
  width: 83px;
  height: 36px;
  background: rgba(66, 98, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 8px;
}

.fcr-chatroom-mobile-inputs-input-wrap {
  position: relative;
  width: 100%;
}

.fcr-chatroom-mobile-inputs-input-wrap:focus-within>.fcr-chatroom-mobile-inputs-input-outline {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  border: 3px solid rgba(66, 98, 255, 0.5);
  border-radius: 50px;
}

.fcr-chatroom-mobile-inputs-input-muted,
.fcr-chatroom-mobile-inputs-input-quit-landscape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  z-index: 1;
}

.fcr-chatroom-mobile-inputs-input-muted>p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.fcr-chatroom-mobile-landscape-input-container .fcr-chatroom-mobile-inputs {
  padding: 9px;
  justify-content: flex-start;
  margin-bottom: 4px;
  height: 52px;
  align-items: center;
}

.fcr-chatroom-mobile-landscape-input-container-emoji-open.fcr-chatroom-mobile-landscape-input-container .fcr-chatroom-mobile-inputs {
  margin-bottom: 0;
}

.fcr-chatroom-mobile-landscape-input-container .fcr-chatroom-mobile-inputs>div:not(:last-child) {
  margin-right: 12px;
}

.fcr-chatroom-mobile-landscape-input-container input {
  background: rgba(227, 231, 239, 0.9);
  color: #000;
  border: 1px solid #e3e7ef;
  backdrop-filter: blur(25px);
}

.fcr-chatroom-mobile-inputs-input-landscape-btn {
  background: rgba(227, 231, 239, 0.9);
  width: 110px;
  height: 36px;
  line-height: 36px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  display: flex;
  gap: 10px;
}

.fcr-chatroom-mobile-inputs-input-quit-landscape {
  padding: 0;
}

.fcr-chatroom-mobile-inputs-input-quit-landscape {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  pointer-events: none;
}

.fcr-chatroom-mobile-inputs-input-quit-landscape>svg {
  margin-left: 10px;
}

.fcr-chatroom-mobile-inputs-mobile-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.fcr-chatroom-mobile-inputs-mobile-left {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.fcr-chatroom-mobile-inputs-mobile-left-main {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  transition: all 0.2S linear;
}

.fcr-chatroom-mobile-inputs-mobile-left-main.hidden {
  flex: 0;
  transition: all 0.2S linear;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-hide-message {
  margin-right: 8px;
}

.fcr-chatroom-mobile-private {
  display: flex;
  align-items: center;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-private-select {
  margin-left: 8px;
  margin-right: 9px;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input-main {
  flex: 1;
  height: 40px;
  border: none;
  background: transparent;
  color: #fff;
  width: inherit;
  min-width: 110px;
  padding: 4px 12px;
  backdrop-filter: inherit;
  overflow: hidden;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input-force-landscape .fcr-chatroom-mobile-inputs-input-outline.private {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  border: 3px solid rgba(66, 98, 255, 0.5);
  border-radius: 50px;
}

.fcr-chatroom-mobile-inputs-input-outline.active {
  border: 1px solid rgba(66, 98, 255, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  border-radius: 50px;
  left: 0px;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input-wrap {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 0.5px solid rgba(74, 76, 95, 0.50);
  width: 100%;
  background: rgba(91, 89, 152, 0.20);
}

/* .fcr-chatroom-mobile-inputs-input-wrap .fcr-chatroom-mobile-inputs-input-main.private{
  padding-left: 44px;
} */
.fcr-chatroom-mobile-inputs-private-icon.private {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input-force-landscape {
  flex: 1;
  margin-right: 8px;
  overflow: hidden;
  position: relative;
  padding: 1px;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input-force-landscape:focus {
  border: 1px solid rgba(66, 98, 255, 1);
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input input:focus {
  border: none;
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-image {
  position: initial;
  margin-right: 3px;
  transform: translateY(0);
}

.fcr-chatroom-mobile-inputs-mobile-left .fcr-chatroom-mobile-inputs-input-emoji {
  position: initial;
  margin-right: 8px;
  transform: translateY(0);
}

.fcr-chatroom-mobile-inputs-mobile-right {
  display: flex;
  align-items: center;
}

.fcr-chatroom-mobile-inputs-application {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(59, 62, 72, .8);
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin-left: 8px;
}

.fcr-chatroom-mobile-inputs-application.landscape {
  width: 40px;
  height: 40px;
  background-color: rgba(91, 89, 152, 0.20);
}

.fcr-chatroom-mobile-inputs-application.active {
  background-color: #4262FF;
}

.fcr-chatroom-mobile-inputs-application.zero .fcr-chatroom-mobile-inputs-application-count {
  color: rgba(255, 255, 255, .5);
}

.fcr-chatroom-mobile-inputs-application-count {
  position: absolute;
  bottom: 22px;
  right: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}