.fcr-chatroom-mobile-inputs {
  display: flex;
  padding: 10px 20px 0;
  justify-content: space-between;
  height: 56px;
  flex-shrink: 0;
  background: #27292f;
  pointer-events: all;
  position: relative;
}
.fcr-chatroom-mobile-inputs-input {
  position: relative;
}
.fcr-chatroom-mobile-inputs-input-emoji {
  position: absolute;
  right: 11px;
  top: 4px;
}
.fcr-chatroom-mobile-inputs-image {
  position: absolute;
  right: 40px;
  top: 4px;
}
.fcr-chatroom-mobile-inputs-input input,
.fcr-chatroom-mobile-inputs-input-forceLandscape input {
  width: 239px;
  background: rgba(61, 64, 75, 0.9);
  border: 1px solid #4a4c5f;
  border-radius: 50px;
  height: 36px;
  padding: 0 65px 0 18px;
  font-size: 14px;
  color: #fff;
  position: relative;
}
.fcr-chatroom-mobile-inputs-input input::placeholder {
  color: rgba(187, 187, 187, 1);
}
.fcr-chatroom-mobile-inputs-input input:focus {
  outline: none;
  /* outline: 3px solid rgba(66, 98, 255, 0.5); */
  border: 1px solid rgba(66, 98, 255, 1);
}

.fcr-chatroom-mobile-inputs-hide-message,
.fcr-chatroom-mobile-inputs-call {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(249, 249, 252, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcr-chatroom-mobile-inputs-call {
  background: rgba(59, 62, 72, 1);
  position: relative;
}
.fcr-chatroom-mobile-inputs-call-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background: rgba(66, 98, 255, 0.6);
  gap: 4px;
}

.fcr-chatroom-mobile-inputs-call-loading .dot {
  width: 4px;
  height: 4px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  animation: dotAnimation 1s infinite ease-in-out;
}

.fcr-chatroom-mobile-inputs-call-loading .dot:nth-child(2) {
  animation-delay: 0.1s;
}

.fcr-chatroom-mobile-inputs-call-loading .dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes dotAnimation {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.fcr-chatroom-mobile-input-emoji-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 28px);
  grid-template-rows: repeat(auto-fill, 28px);
  grid-gap: 20px;
  height: 200px;
  background: #000;
  overflow-y: auto;
  position: relative;
  top: -200px;
  padding: 10px;
}
.fcr-chatroom-mobile-input-emoji-container.fcr-chatroom-mobile-input-emoji-container-landscape {
  padding: 10px 100px;
}
.fcr-chatroom-mobile-input-emoji-container.fcr-chatroom-mobile-input-emoji-container-landscape
  > div {
  width: 32px;
  height: 32px;
  font-size: 32px;
  text-align: center;
  line-height: 32px;
}
.fcr-chatroom-mobile-input-emoji-container > div {
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.fcr-chatroom-mobile-inputs-send {
  width: 83px;
  height: 36px;
  background: rgba(66, 98, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.fcr-chatroom-mobile-inputs-input-wrap {
  position: relative;
}
.fcr-chatroom-mobile-inputs-input-wrap:focus-within > .fcr-chatroom-mobile-inputs-input-outline {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  border: 3px solid rgba(66, 98, 255, 0.5);
  border-radius: 50px;
}
.fcr-chatroom-mobile-inputs-input-muted,
.fcr-chatroom-mobile-inputs-input-quit-landscape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  z-index: 1;
}
.fcr-chatroom-mobile-inputs-input-muted > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.fcr-chatroom-mobile-landscape-input-container .fcr-chatroom-mobile-inputs {
  padding: 9px;
  justify-content: flex-end;
  margin-right: 12px;
  margin-bottom: 4px;
  height: 52px;
  border-radius: 50px;
  align-items: center;
}
.fcr-chatroom-mobile-landscape-input-container .fcr-chatroom-mobile-inputs > div:not(:last-child) {
  margin-right: 12px;
}
.fcr-chatroom-mobile-landscape-input-container input {
  background: rgba(227, 231, 239, 0.9);
  color: #000;
  border: 1px solid #e3e7ef;
  backdrop-filter: blur(25px);
}

.fcr-chatroom-mobile-inputs-input-landscape-btn {
  background: rgba(227, 231, 239, 0.9);
  width: 110px;
  height: 36px;
  line-height: 36px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  display: flex;
  gap: 10px;
}
.fcr-chatroom-mobile-inputs-input-quit-landscape {
  padding: 0;
}
.fcr-chatroom-mobile-inputs-input-force-landscape input {
  width: 110px;
  padding: 0;
}
.fcr-chatroom-mobile-inputs-input-quit-landscape {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  pointer-events: none;
}
.fcr-chatroom-mobile-inputs-input-quit-landscape > svg {
  margin-left: 10px;
}
