.flip-card-mobile {
  width: 20px;
  height: 30px;
  line-height: 30px;
  position: relative;
  font-size: 24px;
  color: rgb(76, 99, 119);
  /* box-shadow: 0 20px 30px -10px rgb(76 99 119 / 10%), inset 0 -1px 0 0 rgb(76 99 119 / 30%), inset 0 1px 0 0 #fff; */
}
.flip-card-mobile:before {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  left: -1px;
  z-index: 5;
  background: rgba(16, 21, 26, 0.05);
}

.flip-card-mobile-digital::before,
.flip-card-mobile-digital::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(180deg, #f3f4ff 0%, #ddd8ec 100%);
}

.flip-card-mobile-digital::before {
  top: 0;
  bottom: 50%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(180deg, #e8ecf0 0%, #f5f7f9 50%);
}

.flip-card-mobile-digital::after {
  top: 50%;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  line-height: 0;
  background: linear-gradient(180deg, #f5f7f9, #fff);
}

.flip-card-mobile.down .flip-card-mobile-front:before {
  transform: translateZ(1px);
  z-index: 3;
}

.flip-card-mobile.down .flip-card-mobile-back:after {
  z-index: 2;
}

.flip-card-mobile.down .flip-card-mobile-front:after,
.flip-card-mobile.down .flip-card-mobile-back:before {
  z-index: 1;
}

.flip-card-mobile.down .flip-card-mobile-back:after {
  z-index: 2;
  transform-origin: 50% 0%;
  transform: perspective(160px) rotateX(180deg);
}

.flip-card-mobile.down.go .flip-card-mobile-front:before {
  transform-origin: 50% 100%;
  animation: frontFlipDown 0.6s ease-in-out both;
  box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
  backface-visibility: hidden;
}

.flip-card-mobile.down.go .flip-card-mobile-back:after {
  animation: backFlipDown 0.6s ease-in-out both;
}

@keyframes frontFlipUp {
  0% {
    transform: perspective(160px) rotateX(0deg);
  }

  100% {
    transform: perspective(160px) rotateX(180deg);
  }
}

@keyframes backFlipUp {
  0% {
    transform: perspective(160px) rotateX(-180deg);
  }

  100% {
    transform: perspective(160px) rotateX(0deg);
  }
}

@keyframes frontFlipDown {
  0% {
    transform: perspective(160px) rotateX(0deg);
  }

  100% {
    transform: perspective(160px) rotateX(-180deg);
  }
}

@keyframes backFlipDown {
  0% {
    transform: perspective(160px) rotateX(180deg);
  }

  100% {
    transform: perspective(160px) rotateX(0deg);
  }
}

.flip-card-mobile .number0::before,
.flip-card-mobile .number0::after {
  content: '0';
}

.flip-card-mobile .number1::before,
.flip-card-mobile .number1::after {
  content: '1';
}

.flip-card-mobile .number2::before,
.flip-card-mobile .number2::after {
  content: '2';
}

.flip-card-mobile .number3::before,
.flip-card-mobile .number3::after {
  content: '3';
}

.flip-card-mobile .number4::before,
.flip-card-mobile .number4::after {
  content: '4';
}

.flip-card-mobile .number5::before,
.flip-card-mobile .number5::after {
  content: '5';
}

.flip-card-mobile .number6::before,
.flip-card-mobile .number6::after {
  content: '6';
}

.flip-card-mobile .number7::before,
.flip-card-mobile .number7::after {
  content: '7';
}

.flip-card-mobile .number8::before,
.flip-card-mobile .number8::after {
  content: '8';
}

.flip-card-mobile .number9::before,
.flip-card-mobile .number9::after {
  content: '9';
}
.flip-card-mobile-time-unit {
  color: #4d6277;
  font-size: 18px;
  white-space: nowrap;
  padding: 0 2px;
}
