.fcr-mobile-poll-widget-minimize {
  width: 120px;
  height: 30px;
  background: rgba(240, 242, 248, 0.95);
  border-radius: 50px;
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 56px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 7px;
}
.fcr-mobile-poll-widget-minimize.fcr-mobile-poll-widget-minimize-landscape {
  left: auto;
  bottom: auto;
  right: 16px;
  top: 64px;
}
.fcr-mobile-poll-widget-minimize-landscape > svg {
  transform: rotate(-90deg);
}
.fcr-mobile-poll-widget-minimize > span {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}
.fcr-mobile-poll-widget-minimize-icon {
  width: 30px;
  height: 20px;
  background: #0056fd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcr-mobile-poll-widget-modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 24px;
  background: rgba(254, 254, 255, 0.95);
  backdrop-filter: blur(25px);
  display: flex;
  max-height: 80%;
  z-index: 20;
}
.fcr-mobile-poll-widget-modal.fcr-mobile-poll-widget-modal-landscape {
  left: auto;
  right: 0;
  width: 40%;
  height: 100%;
  border-radius: 0;
  max-height: 100%;
}
.fcr-mobile-poll-widget-modal-close {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: rgba(138, 138, 138, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 26px;
  right: 20px;
}
.fcr-mobile-poll-widget-top {
  display: flex;
  flex-direction: row;
  height: 75px;
  padding-top: 20px;
}
.fcr-mobile-poll-widget-bottom {
  flex: 1;
  overflow-y: auto;
}
.fcr-mobile-poll-widget-modal-content {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.fcr-mobile-poll-widget-content {
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.fcr-mobile-poll-widget-top-logo {
  width: 44px;
  height: 44px;
  background: #4262ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcr-mobile-poll-widget-top-right {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.fcr-mobile-poll-widget-top-right-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 7px;
  padding-top: 3px;
}
.fcr-mobile-poll-widget-top-right-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #757575;
}
.fcr-mobile-poll-widget-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 9px 0 20px 0;
  word-break: break-all;
  white-space: pre-wrap;
}
.fcr-mobile-poll-widget-options {
  display: flex;
  flex-direction: column;
}
.fcr-mobile-poll-widget-options > div:not(:last-child) {
  margin-bottom: 11px;
}

.fcr-mobile-poll-widget-option {
  width: 100%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(227, 231, 239, 1);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.fcr-mobile-poll-widget-option > p {
  margin: 0;
  z-index: 1;
  word-break: break-all;
}
.fcr-mobile-poll-widget-option-selected {
  background: #e5eeff;
  border: 1px solid rgba(66, 98, 255, 1);
  color: rgba(66, 98, 255, 1);
}
.fcr-mobile-poll-widget-option-result {
  background: white;
}
.fcr-mobile-poll-widget-option-result-analys {
  width: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.fcr-mobile-poll-widget-option-result-analys > div:first-child {
  padding-right: 14px;
}
.fcr-mobile-poll-widget-submit {
  position: absolute;

  height: 48px;
  width: 150px;
  bottom: 23px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50px;
  background: #4262ff;

  box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.fcr-mobile-poll-widget-submit-disabled {
  opacity: 0.5;
}
.fcr-mobile-poll-widget-result-count {
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #757575;
}
.fcr-mobile-poll-widget-option-result-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(240, 240, 247, 0.6);
}
.fcr-mobile-poll-widget-option-result-progress-selected {
  background: #e5eeff;
}
