.fcr-chatroom-mobile-container {
  width: 100vw;
  flex: 1;
  position: relative;
  background: unset;
  display: flex;
  flex-direction: column;
  background: #27292f;
  overflow: hidden;
}
.fcr-chatroom-mobile-input-container{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #27292f;
  width: 100%;
  height: 80px;
  padding-bottom: env(safe-area-inset-bottom);
}
.fcr-chatroom-mobile-placeholder {
  height: 12px;
  flex-shrink: 0;
}
.fcr-chatroom-mobile-mask {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #282a32 32.95%, rgba(40, 42, 50, 0) 100%);
  z-index: 1;
  pointer-events: none;
}
.fcr-chatroom-mobile-room-info-emoji-open {
  position: relative;
  top: -200px;
  z-index: 2;
}

/** landscape **/

.fcr-chatroom-mobile-landscape-input-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}
.fcr-chatroom-mobile-landscape-input-container-emoji-open {
  bottom: 200px;
}
.fcr-poll-mobile-widget {
  pointer-events: all;
  display: none;
}
